*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.form{
    width: 400px;
    background: #9C9C9C;
    border: 2px solid #626262;
    border-radius: 2px;
}

form h3{
    font-style: normal;
    font-size: 32px;
    padding: 20px;
    font-weight: 500;
}
label{
    color: #3A3A3A;
}
.registration{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
.e-mail {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.e-mail input{
    height: 28px;
    margin-top: 5px;
    border: 1px solid #9C9C9C;
    border-radius: 3px;
}
.password{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    
}
.pass__main{
    display: flex;
    flex-direction: column;
}
.pass__rep{
    display: flex;
    flex-direction: column;
}

.pass__main input{
    margin-top: 5px;
    border: 1px solid #9C9C9C;
    height: 28px;
    border-radius: 3px;
    width: 175px;
}
.pass__rep input{
    margin-top: 5px;
    border: 1px solid #9C9C9C;
    height: 28px;
    border-radius: 3px;
    width: 175px;
}
.name {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.name input{
    margin-top: 5px;
    border: 1px solid #9C9C9C;
    height: 28px;
    border-radius: 3px;
}
.age{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}
.age input{
    margin-top: 5px;
    border: 1px solid #9C9C9C;
    height: 28px;
    border-radius: 3px;
    width: 175px;
}

input:placeholder-shown{
    padding: 0 10px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.buttons button{
    padding: 8px 12px;
    background: #616161;
    border: 1px solid #616161;
    border-radius: 3px;
    color: #CCCCCC;
    font-size: 14px;
}
.buttons button:last-child{
    background: #Cccccc ;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #616161;
}


input:valid{
    border: 1px solid green;
}